@page "/cashiers-workplace"
@using RetailAssistant.Core.Models.ProductCatalog
@inherits OrsComponentBase

<MudPaper Height="100%" Class="d-flex">

    <MudSplitter Style=" min-width:100%; height:100%;" @bind-Dimension="@_splitterPercentage" Class="p-0 m-0">

        <StartContent>

            <MudContainer Class="p-0 m-0 cashiers-workplace-receipt-container">

                <ToolBar Commands="@_receiptCommands" />

                <MudTable Items="_receipt.ReceiptItems"
                          Hover="true"
                          Style="max-width: 99%"
                          Breakpoint="Breakpoint.Sm"
                          LoadingProgressColor="Color.Info">

                    <HeaderContent>
                        <MudTh>Nr</MudTh>
                        <MudTh>Item</MudTh>
                        <MudTh>Quantity</MudTh>
                        <MudTh>Price</MudTh>
                        <MudTh>Sum</MudTh>
                    </HeaderContent>

                    <RowTemplate>
                        <MudTd DataLabel="Nr">@context.LineNumber</MudTd>
                        <MudTd DataLabel="Item">@context.ProductItem.Name</MudTd>
                        <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
                        <MudTd DataLabel="Price">@context.UnitPrice</MudTd>
                        <MudTd DataLabel="Total">@context.TotalPrice</MudTd>
                    </RowTemplate>

                </MudTable>

            </MudContainer>

        </StartContent>

        <EndContent>

            <MudContainer Class="cashiers-workplace-keyboard-container m-0 p-0">

                <MudTreeView T="ProductParent"
                             Items="@_itemParents"
                             Hover="true"
                             Dense
                             Class="cashiers-workplace-catalog-parent-tree">

                    <ItemTemplate Context="item">

                        <MudTreeViewItem Items="@item.Children"
                                         Icon="@Icons.Material.Outlined.Folder"
                                         Value="item"
                                         OnDoubleClick="@(e => OnParentItemDoubleClick(item, e))"
                                         Class="@($"{GetItemClass(item)} ors-no-select")">

                            <BodyContent>
                                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                                    <MudText Class="ors-tree-item-parent-code" Style="flex-basis: 20%; margin-right: 16px;">@item.GetCode()</MudText>
                                    <MudText Class="ors-tree-item-parent-name" Style="flex-grow: 1;">@item.Name</MudText>
                                </div>
                            </BodyContent>

                        </MudTreeViewItem>

                    </ItemTemplate>

                </MudTreeView>

                <MudTable T="CatalogProductItem" Items="@_productItems"
                          Hover="true"
                          Dense="true"
                          Breakpoint="Breakpoint.Sm"
                          Loading="@_showLoading"
                          LoadingProgressColor="Color.Default"
                          Class="cashiers-workplace-product-items-table"
                          RowClass="cursor-pointer"
                          OnRowClick="RowClickEvent"
                          RowClassFunc="@SelectedRowClassFunc"
                          @ref="_productItemsTable">

                    <ColGroup>
                        <col style="width: 15%;" />
                        <col />
                        <col style="width: 15%;" />
                    </ColGroup>

                    <HeaderContent>
                        @foreach (var heading in _tableHeadings)
                        {
                            <MudTh>@heading</MudTh>
                        }
                    </HeaderContent>

                    <RowTemplate>
                        <MudTd DataLabel="Code">@context.GetCode()</MudTd>
                        <MudTd DataLabel="Name">@context.Name</MudTd>
                        <MudTd DataLabel="Price" Style="text-align:left">@context.Price</MudTd>
                    </RowTemplate>

                </MudTable>

            </MudContainer>

        </EndContent>

    </MudSplitter>


</MudPaper>


