@inherits FormBase

@namespace BackOffice.Client.Pages.ProductCatalog.Parent

<Form Commands="@ToolbarCommands">
    <FormContent>

        <EditForm EditContext="@EditContext" OnValidSubmit="@CreateClick">

            <DataAnnotationsValidator />

            <MudGrid>
                <MudItem Style="min-width:50%">
                    <MudCard>

                        <MudCardContent>
                            <MudTextField Label="Name" Class="mt-3" @bind-Value="_itemParent.Name" For="@(() => _itemParent.Name)" Variant="@MudBlazor.Variant.Filled" />
                            <MudSelect Label="Parent" T="Guid?" For="@(() => _itemParent.ParentId)" ValueChanged="OnParentSelected">
                                <MudSelectItem Value="null" T="Guid?">No Parent</MudSelectItem>
                                @foreach (var parent in _allItemParents)
                                {
                                    <MudSelectItem Value="@parent.Id" T="Guid?">@parent.Name</MudSelectItem>
                                }
                            </MudSelect>
                        </MudCardContent>

                    </MudCard>
                </MudItem>
            </MudGrid>

        </EditForm>

    </FormContent>
</Form>
