@inherits BlazorComponent

@namespace BackOffice.Client.Pages.ProductCatalog.Parent

<Form Commands="@_toolbarCommands">
    <FormContent>

        <EditForm EditContext="@_editContext" OnValidSubmit="@SaveClick">

            <DataAnnotationsValidator />

            <MudGrid>
                <MudItem Style="min-width:50%">
                    <MudCard>

                        <MudCardContent>

                            <MudTextField Label="Id" Class="mt-3" @bind-Value="ProductParent.Id" For="@(() => ProductParent.Id)" Variant="@MudBlazor.Variant.Filled" Disabled />
                             <MudTextField Label="Name" Class="mt-3" @bind-Value="ProductParent.Name" For="@(() => ProductParent.Name)" Variant="@MudBlazor.Variant.Filled" />

                         </MudCardContent>

                     </MudCard>
                 </MudItem>
             </MudGrid>

         </EditForm>


     </FormContent>
 </Form>



