@inherits CreationFormBase<ProductParent>

@namespace BackOffice.Client.Pages.ProductCatalog.Parent

<Form Commands="@ToolbarCommands">
    <FormContent>

        <EditForm EditContext="@EditContext" OnValidSubmit="@CreateClick">

            <DataAnnotationsValidator />

            <MudGrid>
                <MudItem Style="min-width:50%">
                    <MudCard>

                        <MudCardContent>
                            <MudTextField Label="Name" Class="mt-3" @bind-Value="Model.Name" For="@(() => Model.Name)" Variant="@MudBlazor.Variant.Filled" />
                            <MudSelect T="ProductParentSelectModel" Label="Select Parent" @bind-Value="_selectedParent" ToStringFunc="@_converterProductParent" Clearable Variant="@MudBlazor.Variant.Filled">
                                @foreach (var parent in _flattenedParents)
                                {
                                    <MudSelectItem Value="@parent"></MudSelectItem>
                                }
                            </MudSelect>
                        </MudCardContent>

                    </MudCard>
                </MudItem>
            </MudGrid>

        </EditForm>

    </FormContent>
</Form>
