@inherits FormBase<ProductType>

@namespace BackOffice.Client.Pages.ProductCatalog.Type

<Form Commands="@ToolbarCommands">
    <FormContent>

        <EditForm EditContext="@EditContext" OnValidSubmit="@CreateClick">

            <DataAnnotationsValidator />

            <MudGrid>
                <MudItem Style="min-width:50%">
                    <MudCard>

                        <MudCardContent>
                         <MudTextField Label="Name" Class="mt-3" @bind-Value="_type.Name" For="@(() => _type.Name)" Variant="@MudBlazor.Variant.Filled" />
                        </MudCardContent>

                    </MudCard>
                </MudItem>
            </MudGrid>

        </EditForm>

    </FormContent>
</Form>
