@namespace UI.Razor.Components.Common

@inherits OrsComponentBase
@typeparam TItem where TItem : class, ITreeItem, new()

<MudTreeView T="TItem" Items="@_items" Hover="true" Dense>
    <ItemTemplate Context="item">

        <MudTreeViewItem Items="@item.Children"
                         Icon="@Icons.Material.Outlined.Folder"
                         Value="item"
                         OnDoubleClick="@(e => OnItemDoubleClickHandler(item))"
                         Class="@($"{GetItemClass(item)} ors-no-select")">

            <BodyContent>
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <MudText Class="ors-tree-item-parent-code" Style="flex-basis: 20%; margin-right: 16px;">@item.GetCode()</MudText>
                    <MudText Class="ors-tree-item-parent-name" Style="flex-grow: 1;">@item.Name</MudText>
                    <MudIconButton Size="@Size.Small"
                                   Icon="@Icons.Material.Outlined.FilterNone"
                                   OnClick="@(() => OpenItemClick(context))" />
                </div>
            </BodyContent>

        </MudTreeViewItem>

    </ItemTemplate>
</MudTreeView>

                    