@page "/product-items"
@* @attribute [Authorize(Roles = BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)] *@
@attribute [Authorize]
@inherits BlazorComponent

@namespace BackOffice.Client.Pages.ProductItemPage

<PageTitle>Manage Product Item</PageTitle>

<RadzenSplitter Style="display:flex; min-width:100%; height:100%; padding:0">

    <RadzenSplitterPane>

        <MudDataGrid T="Item" @ref="@(_dataGrid)" Items="@_productItems" Filterable="true" QuickFilter="@_quickFilter" EditMode="@(_editMode)" EditTrigger="@(_editTrigger)"
                     StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges" ReadOnly="false" RowClick="RowClick"
                     EditDialogOptions="_dialogOptions" FixedHeader="true" HeaderClass="data-grid-header" Dense="true" ColumnResizeMode="ResizeMode.Column"
                     DragDropColumnReordering="true" Style="height:100%; display:flex; flex-direction:column; width:100%; resize:horizontal">


            <ToolBarContent>

                <MudButton OnClick="@CreateItemClick" Color="@Color.Success" Class="add-item-btn">Add</MudButton>
                <MudSpacer />
                <MudTooltip Text="hierarchy">
                    <MudButton Color="@Color.Primary" @onclick="@OpenItemParentsClick">
                        <iconify-icon icon="mdi:family-tree" width="24" height="24"></iconify-icon>
                    </MudButton>
                </MudTooltip>
                <MudTextField @bind-Value="@_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Style="max-width:30%"></MudTextField>
            </ToolBarContent>

            <Columns>
                <PropertyColumn Property="x => x.Id" IsEditable="false" />
                <PropertyColumn Property="x => x.Name" />
                <PropertyColumn Property="x => x.Description" />
                <PropertyColumn Property="x => x.ItemType" Title="Type" IsEditable="false" />
                <PropertyColumn Property="x => x.Brand" Title="Brand" IsEditable="false" />
                <PropertyColumn Property="x => x.Price" />
                <PropertyColumn Property="x => x.Barcode" />
                <TemplateColumn CellClass="justify-end" Sortable="false" Filterable="false">
                    <CellTemplate>
                        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.FilterNone" OnClick="@(() => OpenItemClick(context))" />
                    </CellTemplate>
                </TemplateColumn>
            </Columns>

        </MudDataGrid>

    </RadzenSplitterPane>

    <RadzenSplitterPane Visible="@_isItemParentsOpen">


        <MudToolBar>

            <MudButton OnClick="@CreateItemParentClick" Color="@Color.Success" Class="add-item-btn">Add</MudButton>
            <MudSpacer />

        </MudToolBar>

        <MudTreeView T="ItemParent" Items="@_itemParents" Hover="true" Style="resize:horizontal">
            <ItemTemplate Context="item">
                <MudTreeViewItem Items="@item.Children">
                    <BodyContent>

                        <MudText Style="justify-self: start;">@item.Name</MudText>

                            <div style="justify-self: end;">
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Medium" Color="Color.Inherit" />
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Medium" Color="Color.Inherit" />
                            </div>

                        </BodyContent>
                    </MudTreeViewItem>
                </ItemTemplate>
            </MudTreeView>

            @* <MudTreeView T="ItemParent">
        <TreeItems>
        @foreach (var item in _itemParents)
        {
        <MudTreeViewItem Value="item" Text="@item.Name" Icon="@Icons.Material.Folder" ExpandIcon="@Icons.Material.ExpandMore" CollapseIcon="@Icons.Material.ChevronRight">
        @if (item.Children != null)
        {
        foreach (var child in item.Children)
        {
        <MudTreeViewItem Value="child" Text="@child.Name" Icon="@Icons.Material.Folder" />
        }
        }
        </MudTreeViewItem>
        }
        </TreeItems>
        </MudTreeView> *@

        </RadzenSplitterPane>

    </RadzenSplitter>
