@page "/product-items"
@* @attribute [Authorize(Roles = BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)] *@
@attribute [Authorize]
@inherits OrsComponentBase

@namespace BackOffice.Client.Pages.ProductCatalog.Item

<PageTitle>Manage Product Item</PageTitle>

<MudSplitter Style=" min-width:100%; height:100%;" @bind-Dimension="@_splitterPercentage">

    <StartContent>

        <MudDataGrid T="ProductItem"
                     Items="@_productItems"
                     Filterable="true"
                     QuickFilter="@_quickFilter"
                     EditMode="@(_editMode)"
                     EditTrigger="@(_editTrigger)"
                     StartedEditingItem="@StartedEditingItem"
                     CanceledEditingItem="@CanceledEditingItem"
                     CommittedItemChanges="@CommittedItemChanges"
                     ReadOnly="false"
                     RowClick="RowClick"
                     RowContextMenuClick="RowClickContextMenu"
                     RowClass="cursor-pointer"
                     RowClassFunc="@((item, line) => SelectedRowClassFunc(item, line))"
                     EditDialogOptions="_dialogOptions"
                     FixedHeader="true"
                     HeaderClass="data-grid-header"
                     Dense
                     Hover
                     ColumnResizeMode="ResizeMode.Column"
                     DragDropColumnReordering="true"
                     Style="height:100%; display:flex; flex-direction:column; width:100%; resize:horizontal">


            <ToolBarContent>

                <MudButton OnClick="@CreateItemClick" Color="@Color.Success" Class="add-item-btn">Add</MudButton>
                <MudSpacer />
                <MudTextField @bind-Value="@_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Style="max-width:30%"></MudTextField>
                <MudTooltip Text="hierarchy">
                    <MudButton Color="@Color.Primary" @onclick="@ShowCatalogParentsClick">
                        <iconify-icon icon="mdi:family-tree" width="24" height="24"></iconify-icon>
                    </MudButton>
                </MudTooltip>

            </ToolBarContent>

            <Columns>
                <PropertyColumn Property="x => x.GetCode()" Title="Code" IsEditable="false" />
                <PropertyColumn Property="x => x.Name" />
                <PropertyColumn Property="x => x.Description" />
                <PropertyColumn Property="x => x.ProductType" Title="Type" IsEditable="false" />
                <PropertyColumn Property="x => x.ProductBrand" Title="Brand" IsEditable="false" />
                <PropertyColumn Property="x => x.Price" />
                <PropertyColumn Property="x => x.Barcode" />
                <TemplateColumn CellClass="justify-end" Sortable="false" Filterable="false">
                    <CellTemplate>
                        <MudIconButton Size="@Size.Small" Icon="@IconHelper.Open" OnClick="@(() => OpenItemClick(context))" />
                    </CellTemplate>
                </TemplateColumn>
            </Columns>

        </MudDataGrid>

        <MudMenu Id="@_contextMenuId"
                 @ref="_contextMenu"
                 Style="position: fixed; display: none;" 
                 Dense
                 Disabled
                 IsOpenChanged="OnContextMenuOpenChanged"
                 ActivationEvent="MouseEvent.MouseOver"
                 AnchorOrigin="Origin.BottomLeft" 
                 TransformOrigin="Origin.TopLeft">

            <MudMenuItem OnClick="CreateNewItemBasedOnExisting">Create New Item</MudMenuItem>
        </MudMenu>

    </StartContent>

    <EndContent>

        <MudContainer Class="d-block p-0 m-0">

            <MudToolBar>

                <MudButton OnClick="@CreateCatalogParentClick" Color="@Color.Success" Class="add-item-btn">Add</MudButton>
                <MudSpacer />

            </MudToolBar>

            <MudTreeView T="ProductParent" Items="@_itemParents" Hover="true" Dense>
                <ItemTemplate Context="item">

                    <MudTreeViewItem Items="@item.Children"
                                     Icon="@Icons.Material.Outlined.Folder"
                                     Value="item"
                                     OnDoubleClick="@(e => OnParentItemDoubleClick(item, e))"
                                     Class="@($"{GetItemClass(item)} ors-no-select")">

                        <BodyContent>
                            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                                <MudText Class="ors-tree-item-parent-code" Style="flex-basis: 20%; margin-right: 16px;">@item.GetCode()</MudText>
                                <MudText Class="ors-tree-item-parent-name" Style="flex-grow: 1;">@item.Name</MudText>
                                <MudIconButton Size="@Size.Small"
                                               Icon="@IconHelper.Open"
                                               OnClick="@(() => OpenItemParentClick(context))" />
                            </div>
                        </BodyContent>

                    </MudTreeViewItem>

                </ItemTemplate>
            </MudTreeView>

        </MudContainer>

    </EndContent>

</MudSplitter>
