@inherits DetailsFormBase<ProductParent>

@namespace BackOffice.Client.Components.Pages.ProductCatalog.ParentPages

<Form Commands="@ToolbarCommands">
    <FormContent>

        <EditForm EditContext="@EditContext" OnValidSubmit="@SaveClick">

            <DataAnnotationsValidator />

            <MudGrid>
                <MudItem Style="min-width:50%">
                    <MudCard>

                        <MudCardContent>

                            <MudTextField Label="@_localizer["Id"]"
                                          Class="mt-3"
                                          @bind-Value="Model.Id"
                                          For="@(() => Model.Id)"
                                          Variant="@MudBlazor.Variant.Filled"
                                          Disabled />

                            <MudTextField Label="@_localizer["Name"]"
                                          Class="mt-3"
                                          @bind-Value="Model.Name"
                                          For="@(() => Model.Name)"
                                          Variant="@MudBlazor.Variant.Filled" />

                            <HierarchySelect Label="@_localizer["Parent"]"
                                             OwnerId="@Model.Id"
                                             SelectedId="@Model.ParentId"
                                             OnChanged="@OnParentChanged"
                                             Items="@(Mapper.Map<List<HierarchySelectModel>>(_allProductParents))" />

                        </MudCardContent>

                    </MudCard>
                </MudItem>
            </MudGrid>

        </EditForm>


    </FormContent>
</Form>



