@inherits FormBase

@namespace BackOffice.Client.Pages.ProductCatalog.Brand

<Form Commands="@ToolbarCommands">
    <FormContent>

        <EditForm EditContext="@EditContext" OnValidSubmit="@SaveClick">

            <DataAnnotationsValidator />

            <MudGrid>
                <MudItem Style="min-width:50%">
                    <MudCard>

                        <MudCardContent>

                            <MudTextField Label="Id" Class="mt-3" @bind-Value="ProductBrand.Id" For="@(() => ProductBrand.Id)" Variant="@MudBlazor.Variant.Filled" Disabled />
                             <MudTextField Label="Name" Class="mt-3" @bind-Value="ProductBrand.Name" For="@(() => ProductBrand.Name)" Variant="@MudBlazor.Variant.Filled" />

                         </MudCardContent>

                     </MudCard>
                 </MudItem>
             </MudGrid>

         </EditForm>

     </FormContent>
 </Form>
