@inherits CreationFormBase<ProductBrand>

@namespace BackOffice.Client.Pages.ProductCatalog.Brand

<Form Commands="@ToolbarCommands">
    <FormContent>

        <EditForm EditContext="@EditContext" OnValidSubmit="@CreateClick">

            <DataAnnotationsValidator />

            <MudGrid>
                <MudItem Style="min-width:50%">
                    <MudCard>

                        <MudCardContent>
                            <MudTextField Label="Name" Class="mt-3" @bind-Value="Model.Name" For="@(() => Model.Name)" Variant="@MudBlazor.Variant.Filled" />
                        </MudCardContent>

                    </MudCard>
                </MudItem>
            </MudGrid>

        </EditForm>

    </FormContent>
</Form>