@inherits BlazorComponent

@namespace BackOffice.Client.Pages.ProductCatalog.Brand

<Form Commands="@_toolbarCommands">
    <FormContent>

        <EditForm EditContext="@_editContext" OnValidSubmit="@CreateClick">

            <DataAnnotationsValidator />

            <MudGrid>
                <MudItem Style="min-width:50%">
                    <MudCard>

                        <MudCardContent>
                            <MudTextField Label="Name" Class="mt-3" @bind-Value="_brand.Name" For="@(() => _brand.Name)" Variant="@MudBlazor.Variant.Filled" />
                        </MudCardContent>

                    </MudCard>
                </MudItem>
            </MudGrid>

        </EditForm>

    </FormContent>
</Form>