@inherits FormBase<Store>

@namespace BackOffice.Client.Pages.Retail.Stores

<Form Commands="@ToolbarCommands">
    <FormContent>

        <EditForm EditContext="@EditContext" OnValidSubmit="@SaveClick">

            <DataAnnotationsValidator />

            <MudGrid>
                <MudItem Style="min-width:50%">
                    <MudCard>

                        <MudCardContent>

                            <MudTextField Label="Id" Class="mt-3" @bind-Value="Model.Id" For="@(() => Model.Id)" Variant="@MudBlazor.Variant.Filled" Disabled />
                             <MudTextField Label="Name" Class="mt-3" @bind-Value="Model.Name" For="@(() => Model.Name)" Variant="@MudBlazor.Variant.Filled" />
                             <MudTextField Label="Address" Class="mt-3" @bind-Value="Model.Address" For="@(() => Model.Address)" Variant="@MudBlazor.Variant.Filled" />

                         </MudCardContent>

                     </MudCard>
                 </MudItem>
             </MudGrid>

            <TabularPart TItem="Cashier" Items="Model.Cashiers" Commands="_cashier_Tab_ToolbarCommands"/>

         </EditForm>

     </FormContent>
 </Form>

