@page "/product-items"
@* @attribute [Authorize(Roles = BlazorShared.Authorization.Constants.Roles.ADMINISTRATORS)] *@
@attribute [Authorize]
@namespace BackOffice.Client.Components.Pages.ProductCatalog.ItemPages

@inherits ListBase<ProductItem>

<MudSplitter Style=" min-width:100%; height:100%;" @bind-Dimension="@_splitterPercentage">

    <StartContent>

        <MudDataGrid T="ProductItem"
                     Items="@Items"
                     Filterable="true"
                     QuickFilter="@QuickFilter"
                     ReadOnly="false"
                     RowClick="RowClick"
                     RowContextMenuClick="RowClickContextMenu"
                     RowClass="cursor-pointer"
                     RowClassFunc="@((item, line) => SelectedRowClassFunc(item, line))"
                     EditDialogOptions="_dialogOptions"
                     FixedHeader="true"
                     HeaderClass="data-grid-header"
                     Dense
                     Hover
                     ColumnResizeMode="ResizeMode.Column"
                     DragDropColumnReordering="true"
                     Style="height:100%; display:flex; flex-direction:column; width:100%; resize:horizontal">


            <ToolBarContent>

                <MudButton OnClick="@CreateItemClick" Color="@Color.Success" Class="add-item-btn">@_localizer["Add"]</MudButton>
                <MudSpacer />

                <MudTextField @bind-Value="@QuickFilterSearchString" 
                              Placeholder="@_localizer["Search"]"
                              Adornment="Adornment.Start" 
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              Immediate
                              Clearable
                              IconSize="Size.Medium" 
                              Class="ors-list-search-field"/>

                <MudTooltip Text="@_localizer["Hierarchy"]">
                    <MudButton Color="@Color.Primary" @onclick="@ShowCatalogParentsClick">
                        <iconify-icon icon="mdi:family-tree" width="24" height="24"></iconify-icon>
                    </MudButton>
                </MudTooltip>

            </ToolBarContent>

            <Columns>

                <PropertyColumn Property="x => x.GetCode()" Title="@_localizer["Code"]" Editable="false" />
                <PropertyColumn Property="x => x.Name" Title="@_localizer["Name"]" />
                <PropertyColumn Property="x => x.Description" Title="@_localizer["Description"]" />
                <PropertyColumn Property="x => x.ProductType" Title="@_localizer["Type"]" Editable="false" />
                <PropertyColumn Property="x => x.ProductBrand" Title="@_localizer["Brand"]" Editable="false" />
                <PropertyColumn Property="x => x.Price" Title="@_localizer["Price"]" />
                <PropertyColumn Property="x => x.Barcode" Title="@_localizer["Barcode"]" />

            </Columns>

        </MudDataGrid>

        <ContextMenu @ref="ContextMenu" Items="ContextMenuItems" />

    </StartContent>

    <EndContent>

        <MudContainer Class="d-block p-0 m-0">

            <MudToolBar>

                <MudButton OnClick="@CreateCatalogParentClick" Color="@Color.Success" Class="add-item-btn">@_localizer["Add"]</MudButton>
                <MudSpacer />

            </MudToolBar>

            <MudTreeView Items="@_itemParents" Hover="true" Dense>
                <ItemTemplate Context="treeItem">

                    <MudTreeViewItem Items="@treeItem.Children"
                                     Icon="@Icons.Material.Outlined.Folder"
                                     T ="ProductParent"
                                     Value="treeItem.Value"
                                     OnDoubleClick="@(e => OnParentItemDoubleClick(treeItem))"
                                     Class="@($"{GetItemClass(treeItem)} ors-no-select")">

                        <BodyContent>
                            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                                <MudText Class="ors-tree-item-parent-code" Style="flex-basis: 20%; margin-right: 16px;">@treeItem.Value?.GetCode()</MudText>
                                <MudText Class="ors-tree-item-parent-name" Style="flex-grow: 1;">@treeItem.Value?.Name</MudText>
                                <MudIconButton Size="@Size.Small"
                                               Icon="@IconHelper.Open"
                                               OnClick="@(() => OpenItemParentClick(context))" />
                            </div>
                        </BodyContent>

                    </MudTreeViewItem>

                </ItemTemplate>
            </MudTreeView>

        </MudContainer>

    </EndContent>

</MudSplitter>
