@inject ILogger<ItemCreate> Logger
@inherits CreationFormBase<ProductItem>

@namespace BackOffice.Client.Components.Pages.ProductCatalog.ItemPages

<Form Commands="@ToolbarCommands">
    <FormContent>

        <EditForm EditContext="@EditContext" OnValidSubmit="@CreateClick">

            <DataAnnotationsValidator />

            <MudGrid>
                <MudItem Style="min-width:50%">
                    <MudCard>
                        <MudCardContent>

                            <MudTextField Label="@_localizer["Name"]"
                                          Class="mt-3"
                                          @bind-Value="Model.Name"
                                          For="@(() => Model.Name)"
                                          Variant="@MudBlazor.Variant.Filled" />

                            <MudTextField Label="@_localizer["Description"]"
                                          Class="mt-3"
                                          @bind-Value="Model.Description"
                                          For="@(() => Model.Description)"
                                          Variant="@MudBlazor.Variant.Filled" />

                            <HierarchySelect Label="@_localizer["Parent"]"
                                             OwnerId="@Model.Id"
                                             SelectedId="@Model.ParentId"
                                             OnChanged="@OnParentChanged"
                                             Items="@(Mapper.Map<List<HierarchySelectModel>>(_allProductParents))" />

                            <MudSelect Label="@_localizer["Type"]"
                                       T="ProductType"
                                       @bind-Value=Model.ProductType
                                       ToStringFunc="@_converterItemType"
                                       Clearable Variant="@MudBlazor.Variant.Filled">
                                @foreach (var item in _itemTypes)
                                {
                                    <MudSelectItem Value="@item"></MudSelectItem>
                                }
                            </MudSelect>

                            <MudSelect Label="@_localizer["Brand"]"
                                       T="ProductBrand"
                                       @bind-Value=Model.ProductBrand
                                       ToStringFunc="@_converterItemBrand"
                                       Clearable Variant="@MudBlazor.Variant.Filled">
                                @foreach (var item in _itemBrands)
                                {
                                    <MudSelectItem Value="@item"></MudSelectItem>
                                }
                            </MudSelect>

                            <MudTextField Label="@_localizer["Barcode"]"
                                          Class="mt-3"
                                          @bind-Value="Model.Barcode"
                                          For="@(() => Model.Barcode)"
                                          Variant="@MudBlazor.Variant.Filled" />

                            <MudNumericField Label="@_localizer["Price"]"
                                             Class="mt-3"
                                             @bind-Value="Model.Price"
                                             For="@(() => Model.Price)"
                                             Variant="@MudBlazor.Variant.Filled" />

                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>

    </FormContent>
</Form>

