@inherits DetailsFormBase<ProductItem>

@namespace BackOffice.Client.Pages.ProductCatalog.Item

<Form Commands="@ToolbarCommands">
    <FormContent>

        <EditForm EditContext="@EditContext">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem Style="min-width:50%">
                    <MudCard>
                        <MudCardContent>
                            <MudTextField Label="Id" Class="mt-3" @bind-Value="Model.Id" For="@(() => Model.Id)" Variant="@MudBlazor.Variant.Filled" Disabled />
                             <MudTextField Label="Name" Class="mt-3" @bind-Value="Model.Name" For="@(() => Model.Name)" Variant="@MudBlazor.Variant.Filled" />
                             <MudTextField Label="Description" Class="mt-3" @bind-Value="Model.Description" For="@(() => Model.Description)" Variant="@MudBlazor.Variant.Filled" />

                             <MudSelect T="ProductParentSelectModel" Label="Select Parent" @bind-Value="_selectedParent" ToStringFunc="@_converterItemParent" Clearable Variant="@MudBlazor.Variant.Filled">
                                 @foreach (var parent in _flattenedParents)
                                {
                                    <MudSelectItem Value="@parent"></MudSelectItem>
                                }
                            </MudSelect>

                            <MudSelect T="ProductType" @bind-Value=Model.ItemType ToStringFunc="@_converterItemType" Label="Select item type" Clearable Variant="@MudBlazor.Variant.Filled">
                                 @foreach (var item in _itemTypes)
                                {
                                    <MudSelectItem Value="@item"></MudSelectItem>
                                }
                            </MudSelect>

                            <MudSelect T="ProductBrand" @bind-Value=Model.Brand ToStringFunc="@_converterItemBrand" Label="Select item brand" Clearable Variant="@MudBlazor.Variant.Filled">
                                 @foreach (var item in _itemBrands)
                                {
                                    <MudSelectItem Value="@item"></MudSelectItem>
                                }
                            </MudSelect>

                            <MudTextField Label="Barcode" Class="mt-3" @bind-Value="Model.Barcode" For="@(() => Model.Barcode)" Variant="@MudBlazor.Variant.Filled" />
                            <MudNumericField Label="Price" Class="mt-3" @bind-Value="Model.Price" For="@(() => Model.Price)" T="decimal" Format="N2" Variant="@MudBlazor.Variant.Filled" />
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>

    </FormContent>
</Form>



